<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>北京</key>
	<string>101010100</string>
	<key>广州</key>
	<string>101280101</string>
	<key>深圳</key>
	<string>101280601</string>
	<key>汕头</key>
	<string>101280501</string>
	<key>惠州</key>
	<string>101280301</string>
	<key>珠海</key>
	<string>101280701</string>
	<key>揭阳</key>
	<string>101281901</string>
	<key>佛山</key>
	<string>101280800</string>
	<key>河源</key>
	<string>101281201</string>
	<key>阳江</key>
	<string>101281801</string>
	<key>茂名</key>
	<string>101282001</string>
	<key>湛江</key>
	<string>101281001</string>
	<key>梅州</key>
	<string>101280401</string>
	<key>肇庆</key>
	<string>101280901</string>
	<key>韶关</key>
	<string>101280201</string>
	<key>潮州</key>
	<string>101281501</string>
	<key>东莞</key>
	<string>101281601</string>
	<key>中山</key>
	<string>101281701</string>
	<key>清远</key>
	<string>101281301</string>
	<key>江门</key>
	<string>101281101</string>
	<key>汕尾</key>
	<string>101282101</string>
	<key>云浮</key>
	<string>101281401</string>
	<key>增城</key>
	<string>101280104</string>
	<key>从化</key>
	<string>101280103</string>
	<key>乐昌</key>
	<string>101280205</string>
	<key>南雄</key>
	<string>101280207</string>
	<key>台山</key>
	<string>101281106</string>
	<key>开平</key>
	<string>101281103</string>
	<key>鹤山</key>
	<string>101281108</string>
	<key>恩平</key>
	<string>101281105</string>
	<key>廉江</key>
	<string>101281005</string>
	<key>雷州</key>
	<string>101281003</string>
	<key>吴川</key>
	<string>101281002</string>
	<key>高州</key>
	<string>101282002</string>
	<key>化州</key>
	<string>101282003</string>
	<key>高要</key>
	<string>101280908</string>
	<key>四会</key>
	<string>101280903</string>
	<key>兴宁</key>
	<string>101280402</string>
	<key>陆丰</key>
	<string>101282103</string>
	<key>阳春</key>
	<string>101281802</string>
	<key>英德</key>
	<string>101281307</string>
	<key>连州</key>
	<string>101281303</string>
	<key>普宁</key>
	<string>101281903</string>
	<key>罗定</key>
	<string>101281402</string>
	<key>海口</key>
	<string>101310101</string>
	<key>三亚</key>
	<string>101310201</string>
	<key>琼海</key>
	<string>101310211</string>
	<key>文昌</key>
	<string>101310212</string>
	<key>万宁</key>
	<string>101310215</string>
	<key>浏阳</key>
	<string>101250103</string>
	<key>晋城</key>
	<string>101100601</string>
	<key>西安</key>
	<string>101110101</string>
	<key>金昌</key>
	<string>101160601</string>
	<key>白银</key>
	<string>101161301</string>
	<key>武威</key>
	<string>101160501</string>
	<key>张掖</key>
	<string>101160701</string>
	<key>南昌</key>
	<string>101240101</string>
	<key>抚州</key>
	<string>101240401</string>
	<key>台北</key>
	<string>101340102</string>
	<key>台中</key>
	<string>101340401</string>
	<key>高雄</key>
	<string>101340201</string>
	<key>台南</key>
	<string>101340301</string>
	<key>香港</key>
	<string>101320101</string>
	<key>澳门</key>
	<string>101330101</string>
	<key>新竹</key>
	<string>101340602</string>
	<key>嘉义</key>
	<string>101340901</string>
	<key>宜兰</key>
	<string>101340701</string>
	<key>桃园</key>
	<string>101340501</string>
	<key>宜春</key>
	<string>101240501</string>
	<key>九江</key>
	<string>101240201</string>
	<key>景德镇</key>
	<string>101240801</string>
	<key>新余</key>
	<string>101241001</string>
	<key>赣州</key>
	<string>101240701</string>
	<key>吉安</key>
	<string>101240601</string>
	<key>鹰潭</key>
	<string>101241101</string>
	<key>上饶</key>
	<string>101240301</string>
	<key>萍乡</key>
	<string>101240901</string>
	<key>庆阳</key>
	<string>101160401</string>
	<key>定西</key>
	<string>101160201</string>
	<key>玉门</key>
	<string>101160807</string>
	<key>敦煌</key>
	<string>101160808</string>
	<key>临夏</key>
	<string>101161101</string>
	<key>合作</key>
	<string>101161201</string>
	<key>西宁</key>
	<string>101150101</string>
	<key>格尔木</key>
	<string>101150702</string>
	<key>德令哈</key>
	<string>101150716</string>
	<key>咸阳</key>
	<string>101110200</string>
	<key>铜川</key>
	<string>101111001</string>
	<key>延安</key>
	<string>101110300</string>
	<key>宝鸡</key>
	<string>101110901</string>
	<key>渭南</key>
	<string>101110501</string>
	<key>天水</key>
	<string>101160901</string>
	<key>平凉</key>
	<string>101160301</string>
	<key>酒泉</key>
	<string>101160801</string>
	<key>汉中</key>
	<string>101110801</string>
	<key>安康</key>
	<string>101110701</string>
	<key>商洛</key>
	<string>101110601</string>
	<key>榆林</key>
	<string>101110401</string>
	<key>兴平</key>
	<string>101110211</string>
	<key>韩城</key>
	<string>101110510</string>
	<key>华阴</key>
	<string>101110511</string>
	<key>兰州</key>
	<string>101160101</string>
	<key>朔州</key>
	<string>101100901</string>
	<key>晋中</key>
	<string>101100401</string>
	<key>运城</key>
	<string>101100801</string>
	<key>临汾</key>
	<string>101100701</string>
	<key>吕梁</key>
	<string>101101100</string>
	<key>潞城</key>
	<string>101100504</string>
	<key>高平</key>
	<string>101100605</string>
	<key>介休</key>
	<string>101100412</string>
	<key>永济</key>
	<string>101100810</string>
	<key>河津</key>
	<string>101100805</string>
	<key>原平</key>
	<string>101101015</string>
	<key>侯马</key>
	<string>01100714</string>
	<key>霍州</key>
	<string>101100711</string>
	<key>孝义</key>
	<string>101101110</string>
	<key>汾阳</key>
	<string>101101111</string>
	<key>武汉</key>
	<string>101200101</string>
	<key>大冶</key>
	<string>101200602</string>
	<key>丹江口</key>
	<string>101201107</string>
	<key>洪湖</key>
	<string>101200806</string>
	<key>石首</key>
	<string>101200804</string>
	<key>巩义</key>
	<string>101180102</string>
	<key>孟州</key>
	<string>101181108</string>
	<key>禹州</key>
	<string>101180405</string>
	<key>长葛</key>
	<string>101180404</string>
	<key>灵宝</key>
	<string>101181702</string>
	<key>邓州</key>
	<string>101180711</string>
	<key>永城</key>
	<string>101181009</string>
	<key>项城</key>
	<string>101181407</string>
	<key>济源</key>
	<string>101181801</string>
	<key>太原</key>
	<string>101100101</string>
	<key>大同</key>
	<string>101100201</string>
	<key>忻州</key>
	<string>101101001</string>
	<key>阳泉</key>
	<string>101100301</string>
	<key>长治</key>
	<string>101100501</string>
	<key>新郑</key>
	<string>101180106</string>
	<key>新密</key>
	<string>101180105</string>
	<key>登封</key>
	<string>101180104</string>
	<key>荥阳</key>
	<string>101180103</string>
	<key>偃师</key>
	<string>101180908</string>
	<key>汝州</key>
	<string>101180504</string>
	<key>舞钢</key>
	<string>101180506</string>
	<key>林州</key>
	<string>101180205</string>
	<key>卫辉</key>
	<string>101180305</string>
	<key>辉县</key>
	<string>101180304</string>
	<key>沁阳</key>
	<string>101181104</string>
	<key>安阳</key>
	<string>101180201</string>
	<key>新乡</key>
	<string>101180301</string>
	<key>周口</key>
	<string>101181401</string>
	<key>三门峡</key>
	<string>101181701</string>
	<key>焦作</key>
	<string>101181101</string>
	<key>平顶山</key>
	<string>101180501</string>
	<key>信阳</key>
	<string>101180601</string>
	<key>南阳</key>
	<string>101180701</string>
	<key>鹤壁</key>
	<string>101181201</string>
	<key>濮阳</key>
	<string>101181301</string>
	<key>许昌</key>
	<string>101180401</string>
	<key>商丘</key>
	<string>101181001</string>
	<key>驻马店</key>
	<string>101181601</string>
	<key>赤壁</key>
	<string>101200702</string>
	<key>广水</key>
	<string>101201302</string>
	<key>仙桃</key>
	<string>101201601</string>
	<key>天门</key>
	<string>101201501</string>
	<key>潜江</key>
	<string>101201701</string>
	<key>恩施</key>
	<string>101201001</string>
	<key>利川</key>
	<string>101201002</string>
	<key>郑州</key>
	<string>101180101</string>
	<key>洛阳</key>
	<string>101180901</string>
	<key>开封</key>
	<string>101180801</string>
	<key>漯河</key>
	<string>101181501</string>
	<key>松滋</key>
	<string>101200807</string>
	<key>宜都</key>
	<string>101200909</string>
	<key>当阳</key>
	<string>101200907</string>
	<key>汉川</key>
	<string>101200406</string>
	<key>麻城</key>
	<string>101200503</string>
	<key>武穴</key>
	<string>101200509</string>
	<key>应城</key>
	<string>101200405</string>
	<key>安陆</key>
	<string>101200402</string>
	<key>枝江</key>
	<string>101200910</string>
	<key>老河口</key>
	<string>101200206</string>
	<key>枣阳</key>
	<string>101200208</string>
	<key>宜城</key>
	<string>101200205</string>
	<key>钟祥</key>
	<string>101201402</string>
	<key>襄樊</key>
	<string>101200201</string>
	<key>宜昌</key>
	<string>101200901</string>
	<key>黄石</key>
	<string>101200601</string>
	<key>鄂州</key>
	<string>101200301</string>
	<key>随州</key>
	<string>101201301</string>
	<key>荆州</key>
	<string>101200801</string>
	<key>荆门</key>
	<string>101201401</string>
	<key>十堰</key>
	<string>101201101</string>
	<key>孝感</key>
	<string>101200401</string>
	<key>黄冈</key>
	<string>101200501</string>
	<key>咸宁</key>
	<string>101200701</string>
	<key>醴陵</key>
	<string>101250303</string>
	<key>湘乡</key>
	<string>101250203</string>
	<key>韶山</key>
	<string>101250202</string>
	<key>耒阳</key>
	<string>101250408</string>
	<key>常宁</key>
	<string>101250406</string>
	<key>武冈</key>
	<string>101250908</string>
	<key>临湘</key>
	<string>101251006</string>
	<key>汨罗</key>
	<string>101251004</string>
	<key>沅江</key>
	<string>101250705</string>
	<key>吉首</key>
	<string>101251501</string>
	<key>涟源</key>
	<string>101250806</string>
	<key>资兴</key>
	<string>101250507</string>
	<key>洪江</key>
	<string>101251302</string>
	<key>冷水江</key>
	<string>101250803</string>
	<key>五指山</key>
	<string>101310222</string>
	<key>安宁</key>
	<string>101290112</string>
	<key>宣威</key>
	<string>101290409</string>
	<key>达州</key>
	<string>101270601</string>
	<key>眉山</key>
	<string>101271501</string>
	<key>宜宾</key>
	<string>101271101</string>
	<key>雅安</key>
	<string>101271701</string>
	<key>个旧</key>
	<string>101290308</string>
	<key>资阳</key>
	<string>101271301</string>
	<key>都江堰</key>
	<string>101270111</string>
	<key>怀化</key>
	<string>101251201</string>
	<key>常德</key>
	<string>101250601</string>
	<key>益阳</key>
	<string>101250700</string>
	<key>张家界</key>
	<string>101251101</string>
	<key>娄底</key>
	<string>101250801</string>
	<key>什邡</key>
	<string>101272004</string>
	<key>邵阳</key>
	<string>101250901</string>
	<key>西昌</key>
	<string>101271610</string>
	<key>长沙</key>
	<string>101250101</string>
	<key>株洲</key>
	<string>101250301</string>
	<key>湘潭</key>
	<string>101250201</string>
	<key>衡阳</key>
	<string>101250401</string>
	<key>岳阳</key>
	<string>101251001</string>
	<key>郴州</key>
	<string>101250501</string>
	<key>永州</key>
	<string>101251401</string>
	<key>绵竹</key>
	<string>101272005</string>
	<key>江油</key>
	<string>101270408</string>
	<key>峨眉山</key>
	<string>101271409</string>
	<key>阆中</key>
	<string>101270507</string>
	<key>华蓥</key>
	<string>101270805</string>
	<key>万源</key>
	<string>101270606</string>
	<key>简阳</key>
	<string>101271304</string>
	<key>彭州</key>
	<string>101270112</string>
	<key>邛崃</key>
	<string>101270113</string>
	<key>崇州</key>
	<string>101270114</string>
	<key>广汉</key>
	<string>101272003</string>
	<key>兴义</key>
	<string>101260906</string>
	<key>凯里</key>
	<string>101260501</string>
	<key>都匀</key>
	<string>101260401</string>
	<key>南充</key>
	<string>101270501</string>
	<key>内江</key>
	<string>101271201</string>
	<key>遂宁</key>
	<string>101270701</string>
	<key>广安</key>
	<string>101270801</string>
	<key>泸州</key>
	<string>101271001</string>
	<key>福泉</key>
	<string>101260405</string>
	<key>成都</key>
	<string>101270101</string>
	<key>绵阳</key>
	<string>101270401</string>
	<key>德阳</key>
	<string>101272001</string>
	<key>广元</key>
	<string>101272101</string>
	<key>自贡</key>
	<string>101270301</string>
	<key>攀枝花</key>
	<string>101270201</string>
	<key>乐山</key>
	<string>101271401</string>
	<key>开远</key>
	<string>101290307</string>
	<key>景洪</key>
	<string>101291601</string>
	<key>楚雄</key>
	<string>101290801</string>
	<key>大理</key>
	<string>101290201</string>
	<key>潞西</key>
	<string>101291508</string>
	<key>瑞丽</key>
	<string>101291506</string>
	<key>清镇</key>
	<string>101260108</string>
	<key>赤水</key>
	<string>101260208</string>
	<key>仁怀</key>
	<string>101260203</string>
	<key>铜仁</key>
	<string>101260601</string>
	<key>毕节</key>
	<string>101260701</string>
	<key>儋州</key>
	<string>101310205</string>
	<key>东方</key>
	<string>101310202</string>
	<key>昆明</key>
	<string>101290101</string>
	<key>昭通</key>
	<string>101291001</string>
	<key>丽江</key>
	<string>101291401</string>
	<key>普洱</key>
	<string>101290901</string>
	<key>临沧</key>
	<string>101291101</string>
	<key>贵阳</key>
	<string>101260101</string>
	<key>六盘水</key>
	<string>101260801</string>
	<key>遵义</key>
	<string>101260201</string>
	<key>安顺</key>
	<string>101260301</string>
	<key>曲靖</key>
	<string>101290401</string>
	<key>玉溪</key>
	<string>101290701</string>
	<key>保山</key>
	<string>101290501</string>
	<key>哈尔滨</key>
	<string>101050101</string>
	<key>天津</key>
	<string>101030100</string>
	<key>大庆</key>
	<string>101050901</string>
	<key>齐齐哈尔</key>
	<string>101050201</string>
	<key>长春</key>
	<string>101060101</string>
	<key>杭州</key>
	<string>101210101</string>
	<key>嘉兴</key>
	<string>101210301</string>
	<key>福清</key>
	<string>101230111</string>
	<key>长乐</key>
	<string>101230110</string>
	<key>永安</key>
	<string>101230810</string>
	<key>晋江</key>
	<string>101230509</string>
	<key>南安</key>
	<string>101230506</string>
	<key>龙海</key>
	<string>101230605</string>
	<key>邵武</key>
	<string>101230904</string>
	<key>武夷山</key>
	<string>101230905</string>
	<key>建瓯</key>
	<string>101230910</string>
	<key>建阳</key>
	<string>101230907</string>
	<key>漳平</key>
	<string>101230707</string>
	<key>福安</key>
	<string>101230306</string>
	<key>福鼎</key>
	<string>101230308</string>
	<key>湖州</key>
	<string>101210201</string>
	<key>永康</key>
	<string>101210907</string>
	<key>江山</key>
	<string>101211005</string>
	<key>温岭</key>
	<string>101210607</string>
	<key>龙泉</key>
	<string>101210803</string>
	<key>福州</key>
	<string>101230101</string>
	<key>厦门</key>
	<string>101230201</string>
	<key>泉州</key>
	<string>101230501</string>
	<key>三明</key>
	<string>101230801</string>
	<key>南平</key>
	<string>101230901</string>
	<key>漳州</key>
	<string>101230601</string>
	<key>莆田</key>
	<string>101230401</string>
	<key>宁德</key>
	<string>101230301</string>
	<key>龙岩</key>
	<string>101230701</string>
	<key>宁波</key>
	<string>101210401</string>
	<key>乐清</key>
	<string>101210707</string>
	<key>海宁</key>
	<string>101210303</string>
	<key>平湖</key>
	<string>101210305</string>
	<key>桐乡</key>
	<string>101210304</string>
	<key>诸暨</key>
	<string>101210502</string>
	<key>上虞</key>
	<string>101210503</string>
	<key>嵊州</key>
	<string>101210505</string>
	<key>兰溪</key>
	<string>101210903</string>
	<key>义乌</key>
	<string>101210904</string>
	<key>东阳</key>
	<string>101210905</string>
	<key>金华</key>
	<string>101210901</string>
	<key>温州</key>
	<string>101210701</string>
	<key>丽水</key>
	<string>101210801</string>
	<key>绍兴</key>
	<string>101210501</string>
	<key>衢州</key>
	<string>101211001</string>
	<key>舟山</key>
	<string>101211101</string>
	<key>台州</key>
	<string>101210601</string>
	<key>建德</key>
	<string>101210105</string>
	<key>富阳</key>
	<string>101210108</string>
	<key>临安</key>
	<string>101210107</string>
	<key>瑞安</key>
	<string>101210705</string>
	<key>慈溪</key>
	<string>101210403</string>
	<key>奉化</key>
	<string>101210405</string>
	<key>余姚</key>
	<string>101210404</string>
	<key>石家庄</key>
	<string>101090101</string>
	<key>唐山</key>
	<string>101090501</string>
	<key>邯郸</key>
	<string>101091001</string>
	<key>秦皇岛</key>
	<string>101091101</string>
	<key>章丘</key>
	<string>101120104</string>
	<key>泰兴</key>
	<string>101191203</string>
	<key>姜堰</key>
	<string>101191204</string>
	<key>靖江</key>
	<string>101191205</string>
	<key>安庆</key>
	<string>101220601</string>
	<key>铜陵</key>
	<string>101221301</string>
	<key>界首</key>
	<string>101220805</string>
	<key>天长</key>
	<string>101221107</string>
	<key>明光</key>
	<string>101221103</string>
	<key>桐城</key>
	<string>101220609</string>
	<key>宁国</key>
	<string>101221404</string>
	<key>巢湖</key>
	<string>101221601</string>
	<key>兴化</key>
	<string>101191202</string>
	<key>马鞍山</key>
	<string>101220501</string>
	<key>宣城</key>
	<string>101221401</string>
	<key>黄山</key>
	<string>101170305</string>
	<key>池州</key>
	<string>101221701</string>
	<key>合肥</key>
	<string>101220101</string>
	<key>蚌埠</key>
	<string>101220201</string>
	<key>芜湖</key>
	<string>101220301</string>
	<key>淮南</key>
	<string>101220401</string>
	<key>亳州</key>
	<string>101220901</string>
	<key>阜阳</key>
	<string>101220801</string>
	<key>淮北</key>
	<string>101221201</string>
	<key>宿州</key>
	<string>101220701</string>
	<key>滁州</key>
	<string>101221101</string>
	<key>通州</key>
	<string>101190509</string>
	<key>海门</key>
	<string>101190508</string>
	<key>启东</key>
	<string>101190507</string>
	<key>东台</key>
	<string>101190707</string>
	<key>大丰</key>
	<string>101190708</string>
	<key>高邮</key>
	<string>101190604</string>
	<key>江都</key>
	<string>101190605</string>
	<key>仪征</key>
	<string>101190603</string>
	<key>丹阳</key>
	<string>101190302</string>
	<key>扬中</key>
	<string>101190303</string>
	<key>句容</key>
	<string>101190304</string>
	<key>胶南</key>
	<string>101120206</string>
	<key>胶州</key>
	<string>101120205</string>
	<key>淮安</key>
	<string>101190901</string>
	<key>盐城</key>
	<string>101190701</string>
	<key>溧阳</key>
	<string>101191102</string>
	<key>常熟</key>
	<string>101190402</string>
	<key>张家港</key>
	<string>101190403</string>
	<key>如皋</key>
	<string>101190503</string>
	<key>太仓</key>
	<string>101190408</string>
	<key>吴江</key>
	<string>101190407</string>
	<key>昆山</key>
	<string>101190404</string>
	<key>扬州</key>
	<string>101190601</string>
	<key>泰州</key>
	<string>101191201</string>
	<key>南通</key>
	<string>101190501</string>
	<key>宿迁</key>
	<string>101191301</string>
	<key>江阴</key>
	<string>101190202</string>
	<key>宜兴</key>
	<string>101190203</string>
	<key>邳州</key>
	<string>101190805</string>
	<key>新沂</key>
	<string>101190807</string>
	<key>金坛</key>
	<string>101191103</string>
	<key>禹城</key>
	<string>101120411</string>
	<key>无锡</key>
	<string>101190201</string>
	<key>苏州</key>
	<string>101190401</string>
	<key>徐州</key>
	<string>101190801</string>
	<key>连云港</key>
	<string>101191001</string>
	<key>南京</key>
	<string>101190101</string>
	<key>镇江</key>
	<string>101190301</string>
	<key>常州</key>
	<string>101191101</string>
	<key>平度</key>
	<string>101120208</string>
	<key>莱西</key>
	<string>101120207</string>
	<key>即墨</key>
	<string>101120204</string>
	<key>海阳</key>
	<string>101120511</string>
	<key>乳山</key>
	<string>101121304</string>
	<key>临清</key>
	<string>101121707</string>
	<key>文登</key>
	<string>101121302</string>
	<key>荣成</key>
	<string>101121303</string>
	<key>乐陵</key>
	<string>101120406</string>
	<key>安丘</key>
	<string>101120607</string>
	<key>高密</key>
	<string>101120608</string>
	<key>昌邑</key>
	<string>101120606</string>
	<key>兖州</key>
	<string>101120705</string>
	<key>曲阜</key>
	<string>101120710</string>
	<key>邹城</key>
	<string>101120711</string>
	<key>青州</key>
	<string>101120602</string>
	<key>诸城</key>
	<string>101120609</string>
	<key>蓬莱</key>
	<string>101120504</string>
	<key>栖霞</key>
	<string>101120507</string>
	<key>滕州</key>
	<string>101121405</string>
	<key>招远</key>
	<string>101120506</string>
	<key>龙口</key>
	<string>101120505</string>
	<key>莱阳</key>
	<string>101120510</string>
	<key>莱州</key>
	<string>101120502</string>
	<key>保定</key>
	<string>101090201</string>
	<key>涿州</key>
	<string>101090218</string>
	<key>定州</key>
	<string>101090219</string>
	<key>威海</key>
	<string>101121301</string>
	<key>日照</key>
	<string>101121501</string>
	<key>莱芜</key>
	<string>101121601</string>
	<key>临沂</key>
	<string>101120901</string>
	<key>德州</key>
	<string>101120401</string>
	<key>聊城</key>
	<string>101121701</string>
	<key>菏泽</key>
	<string>101121001</string>
	<key>滨州</key>
	<string>101121101</string>
	<key>青岛</key>
	<string>101120201</string>
	<key>淄博</key>
	<string>101120301</string>
	<key>枣庄</key>
	<string>101121401</string>
	<key>东营</key>
	<string>101121201</string>
	<key>烟台</key>
	<string>101120501</string>
	<key>潍坊</key>
	<string>101120601</string>
	<key>济宁</key>
	<string>101120701</string>
	<key>泰安</key>
	<string>101120801</string>
	<key>安国</key>
	<string>101090220</string>
	<key>高碑店</key>
	<string>101090221</string>
	<key>泊头</key>
	<string>101090711</string>
	<key>任丘</key>
	<string>101090712</string>
	<key>济南</key>
	<string>101120101</string>
	<key>黄骅</key>
	<string>101090713</string>
	<key>河间</key>
	<string>101090714</string>
	<key>霸州</key>
	<string>101090608</string>
	<key>三河</key>
	<string>101090609</string>
	<key>冀州</key>
	<string>101090810</string>
	<key>深州</key>
	<string>101090811</string>
	<key>衡水</key>
	<string>101090801</string>
	<key>邢台</key>
	<string>101090901</string>
	<key>辛集</key>
	<string>101090114</string>
	<key>藁城</key>
	<string>101090115</string>
	<key>新乐</key>
	<string>101090117</string>
	<key>遵化</key>
	<string>101090510</string>
	<key>迁安</key>
	<string>101090511</string>
	<key>武安</key>
	<string>101091016</string>
	<key>南宫</key>
	<string>101090916</string>
	<key>沙河</key>
	<string>101090917</string>
	<key>张家口</key>
	<string>101090301</string>
	<key>承德</key>
	<string>101090402</string>
	<key>廊坊</key>
	<string>101090601</string>
	<key>沧州</key>
	<string>101090701</string>
	<key>吉林</key>
	<string>101060201</string>
	<key>四平</key>
	<string>101060401</string>
	<key>海城</key>
	<string>101070304</string>
	<key>东港</key>
	<string>101070604</string>
	<key>凤城</key>
	<string>101070602</string>
	<key>北票</key>
	<string>101071205</string>
	<key>凌海</key>
	<string>101070702</string>
	<key>北镇</key>
	<string>101070706</string>
	<key>大石桥</key>
	<string>101070802</string>
	<key>盖州</key>
	<string>101070803</string>
	<key>兴城</key>
	<string>101071404</string>
	<key>灯塔</key>
	<string>101071003</string>
	<key>开原</key>
	<string>101071102</string>
	<key>凌源</key>
	<string>101071203</string>
	<key>辽源</key>
	<string>101060701</string>
	<key>临江</key>
	<string>101060903</string>
	<key>大安</key>
	<string>101060603</string>
	<key>洮南</key>
	<string>101060602</string>
	<key>延吉</key>
	<string>101060301</string>
	<key>抚顺</key>
	<string>101070401</string>
	<key>本溪</key>
	<string>101070501</string>
	<key>普兰</key>
	<string>101070204</string>
	<key>庄河</key>
	<string>101070207</string>
	<key>丹东</key>
	<string>101070601</string>
	<key>锦州</key>
	<string>101070701</string>
	<key>营口</key>
	<string>101070801</string>
	<key>朝阳</key>
	<string>101071201</string>
	<key>葫芦岛</key>
	<string>101071401</string>
	<key>新民</key>
	<string>101070106</string>
	<key>瓦房店</key>
	<string>101070202</string>
	<key>阜新</key>
	<string>101070901</string>
	<key>辽阳</key>
	<string>101071001</string>
	<key>盘锦</key>
	<string>101071301</string>
	<key>铁岭</key>
	<string>101071101</string>
	<key>图们</key>
	<string>101060309</string>
	<key>敦化</key>
	<string>101060302</string>
	<key>龙井</key>
	<string>101060307</string>
	<key>珲春</key>
	<string>101060308</string>
	<key>和龙</key>
	<string>101060305</string>
	<key>沈阳</key>
	<string>101070101</string>
	<key>大连</key>
	<string>101070201</string>
	<key>鞍山</key>
	<string>101070301</string>
	<key>通化</key>
	<string>101060501</string>
	<key>白山</key>
	<string>101060901</string>
	<key>松原</key>
	<string>101060801</string>
	<key>白城</key>
	<string>101060601</string>
	<key>九台</key>
	<string>101060104</string>
	<key>榆树</key>
	<string>101060105</string>
	<key>德惠</key>
	<string>101060103</string>
	<key>舒兰</key>
	<string>101060202</string>
	<key>桦甸</key>
	<string>101060206</string>
	<key>蛟河</key>
	<string>101060204</string>
	<key>磐石</key>
	<string>101060205</string>
	<key>公主岭</key>
	<string>101060404</string>
	<key>双辽</key>
	<string>101060402</string>
	<key>梅河口</key>
	<string>101060502</string>
	<key>集安</key>
	<string>101060505</string>
	<key>佳木斯</key>
	<string>101050401</string>
	<key>鸡西</key>
	<string>101051101</string>
	<key>鹤岗</key>
	<string>101051201</string>
	<key>双鸭山</key>
	<string>101051301</string>
	<key>牡丹江</key>
	<string>101050301</string>
	<key>伊春</key>
	<string>101050801</string>
	<key>七台河</key>
	<string>101051002</string>
	<key>黑河</key>
	<string>101050601</string>
	<key>绥化</key>
	<string>101050501</string>
	<key>五常</key>
	<string>101050112</string>
	<key>双城</key>
	<string>101050102</string>
	<key>尚志</key>
	<string>101050111</string>
	<key>上海</key>
	<string>101020100</string>
	<key>虎林</key>
	<string>101051102</string>
	<key>密山</key>
	<string>101051103</string>
	<key>铁力</key>
	<string>101050804</string>
	<key>同江</key>
	<string>101050406</string>
	<key>富锦</key>
	<string>101050407</string>
	<key>绥芬河</key>
	<string>101050305</string>
	<key>海林</key>
	<string>101050302</string>
	<key>宁安</key>
	<string>101050306</string>
	<key>北安</key>
	<string>101050606</string>
	<key>五大连池</key>
	<string>101050605</string>
	<key>肇东</key>
	<string>101050502</string>
	<key>海伦</key>
	<string>101050504</string>
	<key>安达</key>
	<string>101050503</string>
	<key>重庆</key>
	<string>101040100</string>
	<key>乌鲁木齐</key>
	<string>101130101</string>
	<key>克拉玛依</key>
	<string>101130201</string>
	<key>石河子</key>
	<string>101130301</string>
	<key>阿拉尔</key>
	<string>101130701</string>
	<key>哈密</key>
	<string>101131201</string>
	<key>吐鲁番</key>
	<string>101130501</string>
	<key>阿克苏</key>
	<string>101130801</string>
	<key>喀什</key>
	<string>101130901</string>
	<key>和田</key>
	<string>101131301</string>
	<key>伊宁</key>
	<string>101131001</string>
	<key>塔城</key>
	<string>101131101</string>
	<key>阿勒泰</key>
	<string>101131401</string>
	<key>博乐</key>
	<string>101131601</string>
	<key>昌吉</key>
	<string>101130401</string>
	<key>阜康</key>
	<string>101130404</string>
	<key>库尔勒</key>
	<string>101130601</string>
	<key>阿图什</key>
	<string>101131501</string>
	<key>拉萨</key>
	<string>101140101</string>
	<key>日喀则</key>
	<string>101140201</string>
	<key>银川</key>
	<string>101170101</string>
	<key>石嘴山</key>
	<string>101170201</string>
	<key>吴忠</key>
	<string>101170301</string>
	<key>固原</key>
	<string>101170401</string>
	<key>中卫</key>
	<string>101170501</string>
	<key>青铜峡</key>
	<string>101170306</string>
	<key>灵武</key>
	<string>101170103</string>
	<key>呼和浩特</key>
	<string>101080101</string>
	<key>包头</key>
	<string>101080201</string>
	<key>乌海</key>
	<string>101080301</string>
	<key>赤峰</key>
	<string>101080601</string>
	<key>通辽</key>
	<string>101080501</string>
	<key>鄂尔多斯</key>
	<string>101080701</string>
	<key>呼伦贝尔</key>
	<string>101081000</string>
	<key>霍林郭勒</key>
	<string>101081108</string>
	<key>满洲里</key>
	<string>101081010</string>
	<key>牙克石</key>
	<string>101081011</string>
	<key>扎兰屯</key>
	<string>101081012</string>
	<key>根河</key>
	<string>101081015</string>
	<key>额尔古纳</key>
	<string>101081014</string>
	<key>丰镇</key>
	<string>101080412</string>
	<key>锡林浩特</key>
	<string>101080901</string>
	<key>二连浩特</key>
	<string>101080903</string>
	<key>乌兰浩特</key>
	<string>101081101</string>
	<key>阿尔山</key>
	<string>101081102</string>
	<key>南宁</key>
	<string>101300101</string>
	<key>柳州</key>
	<string>101300301</string>
	<key>桂林</key>
	<string>101300501</string>
	<key>梧州</key>
	<string>101300601</string>
	<key>北海</key>
	<string>101301301</string>
	<key>崇左</key>
	<string>101300201</string>
	<key>来宾</key>
	<string>101300401</string>
	<key>贺州</key>
	<string>101300701</string>
	<key>百色</key>
	<string>101301001</string>
	<key>河池</key>
	<string>101301201</string>
	<key>钦州</key>
	<string>101301101</string>
	<key>防城港</key>
	<string>101301401</string>
	<key>贵港</key>
	<string>101300801</string>
	<key>岑溪</key>
	<string>101300606</string>
	<key>凭祥</key>
	<string>101300204</string>
	<key>北流</key>
	<string>101300903</string>
	<key>宜州</key>
	<string>101301207</string>
	<key>东兴</key>
	<string>101301403</string>
	<key>玉林</key>
	<string>101300901</string>
</dict>
</plist>
