<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<array>
		<dict>
			<key>name</key>
			<string>啊</string>
			<key>tel</key>
			<string>111</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Aa</string>
			<key>tel</key>
			<string>111</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Aas</string>
			<key>tel</key>
			<string>111</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Aad</string>
			<key>tel</key>
			<string>111</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ae</string>
			<key>tel</key>
			<string>111</string>
		</dict>
	</array>
	<key>B</key>
	<array>
		<dict>
			<key>name</key>
			<string>被</string>
			<key>tel</key>
			<string>111</string>
		</dict>
		<dict>
			<key>name</key>
			<string>beb</string>
			<key>tel</key>
			<string>111</string>
		</dict>
		<dict>
			<key>name</key>
			<string>bs</string>
			<key>tel</key>
			<string>111</string>
		</dict>
	</array>
	<key>C</key>
	<array>
		<dict>
			<key>name</key>
			<string>ca</string>
			<key>tel</key>
			<string>111</string>
		</dict>
		<dict>
			<key>name</key>
			<string>cd</string>
			<key>tel</key>
			<string>111</string>
		</dict>
		<dict>
			<key>name</key>
			<string>cza</string>
			<key>tel</key>
			<string>111</string>
		</dict>
	</array>
</dict>
</plist>
